
.exo-2-exo {
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}
*{
    font-family: "Exo 2";
}
.carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.carousel-wrapper {
    display: flex;
    transition: transform 1s ease-in-out;
}
.carousel-item {
    min-width: 100%;
    background-size: cover;
    background-position: center;
}
.clip-path-custom {
    clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 0% 100%);
}
a i {
    font-size: 30px;
    width: 50px;
    height: 8px;
}
.fa-twitter {
    color: #1DA1F2;
}
.fa-facebook {
    color: #1877F2;
}
.fa-instagram {
    color: #E1306C;
}
@keyframes gradientAnimation {
    0% { background: #1a202c; }
    25% { background: #2d3748; }
    50% { background: #4a5568; }
    75% { background: #2d3748; }
    100% { background: #1a202c; }
}
.animated-bg {
    animation: gradientAnimation 6s infinite alternate ease-in-out;
}
.scroll-container {
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    cursor: grab;
    scrollbar-width: none; /* Ocultar scrollbar en Firefox */
}
.scroll-container::-webkit-scrollbar {
    display: none; /* Ocultar scrollbar en Chrome y Safari */
}
.scroll-container:active {
    cursor: grabbing;
}
.boxbox{
    width: 100%;
    justify-content: space-between;
}
@media screen and (min-width: 1024px) {
    .boxbox {
        width: 6%;
    }
}